h1{
    color: blue;
}
a{
    color: rgb(253, 10, 10);
}
body{
    /* background-color: rgba(10, 175, 180, 0.3); */
    background-image: url(logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: right top */
}
